/* 
    Document   : base-css
    Created on : Aug 10, 2008, 8:51:52 PM
    Author     : Kevin.Choi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/******************************************************************************/
/*  Header */
#id_header
{
    background-image: transparent url("../images/logo_top_banner_bg.gif") repeat-x !important;
}
#id_header table tr td
{
    float: left
}

.v_header_text
{
    color: white;
    font-size: 10px;
    font-weight:bold;
    float: right;
    margin-right:10px;
    margin-top:3px;
}
.v_header_text a
{
    color: white;
    font-size: 10px;
    font-weight:bold;
    /*float: right;*/
    margin-right:10px;
    margin-top:3px;
}
.v_header_text a:hover
{
    color: orange;
    font-size: 10px;
    font-weight:bold;
    /*float: right;*/
    margin-right:10px;
    margin-top:3px;
}

.v-anchor-test
{
    margin-top:0px;
}

.x-combo-list-configuration
{
    border:1px solid #98c0f4;
    background:#ddecfe;
    zoom:1;
    overflow:hidden;
}

.x-combo-list-operation
{
    border:1px solid #98c0f4;
    background:#fff;
    zoom:1;
    overflow:hidden;
}

.v_tab_image
{
    margin-right:1px;
}

.v_wait_image .x-btn-text
{
    background-image: url("../images/wait.gif");
    margin-bottom:2px;
}
.v_pause_image .x-btn-text
{
    background-image: url("../images/done.gif");
    margin-bottom:2px;
}

.v_empty_image
{
    width: 52 !important;
}

.x-toolbar
{
    border-color:#fff;
    border-style:none;
    border-width:0 0 0px 0;
    /*display: block;*/
    padding:0px;
    background:#fff url("../images/default/toolbar/bg.gif") repeat-x top left;
    position:relative;
    zoom:1;
}

#v-tab-configuration-disabled
{
    cursor:default;
}

#v_tab_table
{
    float: left;
    /*
    margin-bottom:0px;
    margin-top:8px;
    margin-left:0px;
    margin-right:30px;*/
    position: absolute;
    top: 33px;
    left: 250px;
}

.v_login_in
{
    background: url("../images/login_button.gif") no-repeat left !important;
    height: 18px !important;
    width: 79px !important;
    cursor:pointer;
    left: 3px !important;
    padding-left: 3px !important;
}
.v_login_in_disable
{
    background: url('../images/login_button_disabled.gif') no-repeat left !important;
    height: 18px !important;
    width: 79px !important;
    cursor:pointer;
    left: 3px !important;
    padding-left: 3px !important;
}
.v_help_button_show /*.x-btn-center .x-btn-text*/
{
    background: url('../images/show_tips_available.gif') no-repeat left !important;
    height: 18px !important;
    width: 95px !important;
    cursor:pointer;
    left: 0px !important;
    padding-left: 0px !important;
}

.v_help_button_hide
{
    background:  url('../images/hide_tips_available.gif') no-repeat left !important;
    height: 18px !important;
    width: 92px !important;
    cursor:pointer;
    white-space: nowrap;
}

.v_view_button
{
    background:  url('../images/show_available.gif') no-repeat left !important;
    height: 18px !important;
    width: 72px !important;
    cursor:pointer;
    white-space: nowrap;
}

.v_commit_button
{
    background:  url('../images/commit_available.gif') no-repeat left !important;
    height: 18px !important;
    width: 84px !important;
    cursor:pointer;
    white-space: nowrap;
}
.v_commit_button_no
{
    background:  url('../images/commit_disabled.gif') no-repeat left !important;
    height: 18px !important;
    width: 84px !important;
    cursor:pointer;
    cursor:default;
    white-space: nowrap;
}

.v_load_button
{
    background:  url('../images/load_available.gif') no-repeat left !important;
    height: 18px !important;
    width: 74px !important;
    cursor:pointer;
    white-space: nowrap;
}

.v_save_button
{
    background:  url('../images/save_available.gif') no-repeat left !important;
    height: 18px !important;
    width: 74px !important;
    cursor:pointer;
    white-space: nowrap;
}
.v_save_button_no
{
    background:  url('../images/save_disabled.gif') no-repeat left !important;
    height: 18px !important;
    width: 75px !important;
    cursor:pointer;
    white-space: nowrap;
}

.v_undo_button
{
    background:  url(../images/undo_available.gif) no-repeat left !important;
    height: 18px !important;
    width: 52px !important;
    cursor:pointer;
    white-space: nowrap;
    margin-bottom:38px;
}
.v_undo_button_no
{
    background:  url(../images/undo_disabled.gif) no-repeat left !important;
    height: 18px !important;
    width: 52px !important;
    cursor:pointer;
    white-space: nowrap;
    margin-bottom:38px;
}
.v_redo_button
{
    background:  url(../images/redo_available.gif) no-repeat left !important;
    height: 18px !important;
    width: 52px !important;
    cursor:pointer;
    white-space: nowrap;
    margin-bottom:38px;
}
.v_redo_button_no
{
    background:  url(../images/redo_disabled.gif) no-repeat left !important;
    height: 18px !important;
    width: 52px !important;
    cursor:pointer;
    white-space: nowrap;
    margin-bottom:38px;
}

.v_discard_button
{
    background:  url('../images/discard_available.gif') no-repeat left !important;
    height: 18px !important;
    width: 83px !important;
    cursor:pointer;
    white-space: nowrap;
}
.v_discard_button_no
{
    background:  url('../images/discard_disabled.gif') no-repeat left !important;
    height: 18px !important;
    width: 83px !important;
    cursor:default;
    white-space: nowrap;
}

/******************************************************************************/
/*  body */
.x-grid3-modify-cell
{
    background: transparent url('../images/grid_modify.gif') no-repeat 0 0;
}
.x-grid3-error-cell
{
    background: transparent url('../images/grid_error.gif') no-repeat 0 0;
}

.v-data-panel-body
{
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    background-color:#FFF;
}
body
{
  font-family:helvetica,tahoma,verdana,sans-serif;
  font-size:13px;
  background-color:#fff !important;
}

.vlabel_right
{
    font-family:helvetica,tahoma,verdana,sans-serif;
    text-align: right !important;
    padding-right: 5px;
    font-weight: bold;
}

.vlabel_left
{
    text-align: left;
    padding-left: 15px;
    padding-top: 3px;
    font-weight: normal;
    color: #666;
}

.v-textfield-unsubmit
{
  background-color: #66ffcc !important;
  background-image:none ! important;
}
.v-textfield-submit
{
  background-color: #fff !important;
}
.v-panel-with-background-color .x-panel-body
{
    background-color:#fff !important;
}

.v-footer-panel .x-panel-body
{
    background-color:#dfe8f6 !important;
    border-top: 2px solid #999999 !important;
}

.x-panel-header
{
    overflow:hidden;
    font:bold 14px arial;
    color:#000;
    padding:5px;
    border:1px solid white;
    line-height: 15px;
    background: white
}

.v-panel-with-header .x-panel
{
}

.v-panel-with-header .x-panel-header
{
    border: 1px solid #d0def0 !important;
    /*background: #d0def0 !important;*/
    background: orange !important;
}
.x-window-tc
{
    background-color: #d0def0;
    overflow:hidden;
    zoom:1;
}
.x-window-bc
{
    background: #d0def0;
    zoom:1;
}


/******************************************************************************/
/*  left, tree panel */
.v_tree
{
  background-color: d0def0;
}
.x-tree .x-panel-body
{
    background-color:#dfe8f6;
}
.x-tree-node .x-tree-selected
{
    background-color: #dfe8f6;
}

.v-border-less
{
    border: 0 none;
    border-style: none;
    background-color: #fff;
    border-top: none;
    border-bottom: none;
}
.v-border-bottom
{
    border: 2 none;
    border-style: none;
    background-color: #fff;
    border-top: none;
    border-bottom: solid 2px #e8e8e8 !important;
}
.x-panel-noborder .x-panel-tbar-noborder .x-toolbar
{
    border-width:0;
    border-bottom:1px solid #fff;
}


.v-node-nocfg {
  font-size: 13px;
  font-weight: normal;
}
.v-node-active {
  font-size: 13px;
  font-weight: 900;
}
.v-node-set {
  font-size: 13px;
  font-weight: bold;
}
.v-node-delete {
  font-size: 13px;
  font-weight: bold;
}
root
{
    display: block;
}

/******************************************************************************/
/*  footer */
#v_footer_text
{
    color: #999;
    font-size: 12px;
    font-weight:bold;
    padding-top: 5px;
}

#v_footer_clock
{
    color: orange;
    font-size: 12px;
    font-weight:bold;
    padding-top: 5px;
    margin-right: 10px;
    float: right;
}
/******************************************************************************/
/*  common */
.ext-ie6 .v_panel
{
    zoom: 1;
}

pre.code
{
  background: #F8F8F8;
  border: 1px solid #e8e8e8;
  padding:10px;
  margin:10px;
  margin-left:0px;
  border-left:5px solid #e8e8e8;
  font-size: 12px !important;
  line-height:14px !important;
}

.hr-editor
{
  border: 1px solid #e8e8e8;
}

.ext-strict .ext-safari .x-small-editor .x-form-text
{
    height: 18px !important;
}
.ext-safari .x-form-field-wrap .x-form-trigger
{
    position:static;
    top:auto;
    vertical-align:top;
}
.ext-ie .x-form-field-wrap .x-form-trigger
{
    position:static;
    top:auto;
    vertical-align:top;
}


.ext-ie .x-form-text
{
    margin-top:0px;
    margin-bottom:0px;
    height:18px;
    line-height:20px;
}

/*
.ext-ie .x-form-field-wrap .x-form-trigger
{
    width:17px;
    height:21px;
    border:0;
    background:transparent url(../images/default/form/trigger.gif) no-repeat 0 0;
    cursor:pointer;
    border-bottom:1px solid #B5B8C8;
    position:absolute;
    top:1px;
  }
*/
