*.o
*.la
*.lo
.deps
.dirstamp
.libs
.*.swp

ChangeLog
Makefile
Makefile.in
aclocal.m4
build-stamp
config.guess
config.h.in
config.log
config.status
config.sub
debian/vyatta-webgui
debian/vyatta-webgui.postinst
debian/vyatta-webgui.postrm
debian/files
autom4te.cache
config
configure
INSTALL
libtool

src/config.h
src/stamp-h1
src/xgcgi/xgcgi
src/xgcgi/xgcgi_test
src/xgcgi2/xgcgi2
src/xgdaemon/xgdaemon
src/server/test
src/server/webgui

