*.o
*.la
*.lo
.deps
.dirstamp
.libs
.*.swp

ChangeLog
Makefile
Makefile.in
aclocal.m4
build-stamp
config.guess
config.h.in
config.log
config.status
config.sub
debian/vyatta-webgui
debian/vyatta-webgui.postrm
debian/files
debian/vyatta-webgui.debhelper.log
autom4te.cache
config
configure
confdefs.h
conftest
conftest.c
conftest.err
INSTALL
libtool

src/config.h
src/stamp-h1
src/xgcgi/xgcgi
src/xgcgi/xgcgi_test
src/xgcgi2/xgcgi2
src/xgdaemon/xgdaemon
src/server/test
src/server/webgui
src/server/webgui_chunker
src/server/chunker
src/server/chunker_test

