#welcome_login {
    height: 18px;
    color: #666666;
    width: 100%;
    font-size: 8pt;
    background: #EFEFEF;
} 

#login_background {
    clear: both;
    background: #FFFFFF;
	margin: 5px 0px 5px 0px; 
} 

#login_page {
    background: #FFFFFF;
} 

#login_content {
    display: block;
	margin: 0;
} 

#login_form {
    margin-top: 60px;
    font-size: 11px;
} 

.login_form_input {
	color: #444444;
	border: 1px solid #CCCCCC;	
}

#messageContactServiceCustomer {
    padding: 20px 10px 20px 10px;
    color:#FF6600;	
} 

.alignRight {
    padding-right: 20px;
    text-align: right;
} 

.alignLeft {
    text-align: left;
	padding-left: 35px;
}
