/*----------------------------------------------------------
 * FTR&D/BIZZ/DIAM
 *--------------------------------------------------------
 * Project     : Business Livebox
 *
 * Copyright France Telecom  2007,  All Rights Reserved.
 *
 *--------------------------------------------------------
 * File Name   : style.css
 *
 * Created     : 17/07/2007
 * Author      : France Telecom
 *
 *-------------------------------------------------------
*/
/*
History
FR_3.4.3 : add style "button_esp_firewall" to Customized Firewall	
TF8854 : display of web-gui pages too slow
TF12215 : WEBGUI => Migration tool for WEB upgrade
*/
*{
margin:0;
padding:0;

}

body { 
	background-color: #ffffff;
	font-family:arial;
	font-size: 11px; 
}

/**************************************************/
/*     				 SELECTEURS                   */
/**************************************************/


a{
	text-decoration:none;
	color:#000;
}
	
img{
	border: 0px;
}

img.img_marge{
	margin-top:20px;
	margin-bottom:30px;
}

img.img_marge_FXS{
	margin-top:10px;
	margin-bottom:10px;
}

h2{
	font:bold 14px arial;
	color:#FFF;
	padding:5px;
	/*border-bottom:2px solid #CCC;*/
	width:80%;
	background-color:#FF6600;
}

h3{
	font:bold 12px arial  ;
	color:#333;
	width:80%;
	margin-top:20px;
	height:20px;
}

h3.line{
	border-bottom:1px solid #CCC;
}

h3.colored{
	color:#FF5500;
	margin-top:40px;
	margin-bottom:10px;
	font-size:14px;	
}

h3 span{
	padding:0;
	margin:0;
	float:right;
	margin-top:-15px;
	font: normal 11px arial;

}



}
h3 span a.backtop{
	padding-left: 15px;
	background: transparent url(../images/ico_backtop.gif) no-repeat;
	background-position: 2px 3px;
	margin-right:15px;
	color:#000;

}
h3 span a.refresh{
	padding-left: 15px;
	background: transparent url(../images/ico_refresh.gif) no-repeat;
	background-position: 1px 3px;
	color:#000;
}

h3 span a:hover{
	text-decoration:underline;
}

h4{
	font-size:12px;	
	margin-top:20px;
	margin-bottom:10px;
	color: black;
}
td h4{
	margin-top:2px;
	margin-bottom:2px;
}

input{
	background-color:#F8ECDF;
	font-size:11px;
	border-color:#CCC;
 	border-width:1px;
}

input.checkbox {
	border: none;
	background-color:#FFF;
	
}

input.radio {
	border: none;
	background-color:#FFF;
}

select{
	background-color:#F8ECDF;
	font-size:11px;

}

p {
	width:80%;
	line-height:17px;
}
.important{
	font-weight:bold;
	color:#FF6600;
}
.asterisque{
	font-size:13px;
}
.userManagementAction{
	font-weight:bold;
	color:#FF6600;
	padding:10px 0px 10px 0px;	
}

span.colorRed{
	font-weight:bold;
	color:#D60000;
	font-size:14px;
}

span.colorGreen{
	font-weight:bold;
	color:#009933;
	font-size:14px;
}

span.colorhelp{
	font-size:11px;
}

span.colorGray{
	font-weight:bold;
	color:#CCC;
	font-size:14px;
}

textarea {
	height: 150px;
	width: 100%;
}


/**************************************************/
/*     				 HEADER                       */
/**************************************************/

#header {
	margin-left:20px;
	margin-right:20px;
	color : #999999;
	font: 11px arial, sans-serif;
	width:980px;
}

#logo{
	float:left;
}

/* barre de langue en haut à droite */
#toolbar{
	margin-top:20px;
	float:right;
	height:21px;
	color: #000;
	vertical-align:top;
}

#toolbar span{
	vertical-align:top;
	margin: 0px 5px 0px 5px;
	}
	


#toolbar select{
	font-family:arial;
	color: #444444;
	font-size:11px;
	border: 1px solid #CCC;
	padding:1px;
	margin-right:5px;
	vertical-align:top;
	width:100px;
}


#barre_etat{
	clear:both;
	height:18px;
	color: #666666;
	width:100%;
	margin-right:20px;
	background: #efefef; /* efefef*/
}

#barre_etat span{
	float: left;
}

#barre_etat a.dec{
	display:inline;
	float: right;
	height:18px;
	margin-top:0px;
	border-left:solid 2px #fff; 
	background:transparent url(../images/fl_ig.gif) no-repeat 0px 3px;
	padding:0 10px 6px 11px; 
	color:#000;
	font-weight:bold;
}
	
#barre_etat  a:hover.dec{
	color:#FF6600;
}

/*############ NAVIGATION PRIMAIRE ##############*/
#nav_primaire {
	clear: both;

}

#nav_primaire1 {
	border:none;
	width:790px;
	height: 40px;
}

#nav_primaire1 td{
	border:none;
	padding: 0px;       
   	vertical-align: middle;
    background: #ffffff;
}
#nav_primaire1 img{
	padding:0px;
	margin:0px;
}

/*############ NAVIGATION SECONDAIRE ##############*/

#nav {
	margin:4px 5px 10px 0px;
	height:20px;
	/*border-bottom: 3px solid #CCC; */
}

#nav ul{
	margin:0px;
}

#nav li{
	display : inline;
    margin-right: 12px;
    padding-left:15px; 
    background: url(../images/carre.gif) no-repeat 3px;
    list-style-type: none;
}

#nav a {
	font: 11px arial, sans-serif;
	color: #000;
}

#nav a:hover, #nav a:active{
	color: #FF5500;
}

#nav li a.on {
	color: #FF5500;
	font-weight:bold;
}

#nav li a.off {
	color: #000;
	font-weight:normal;
}

/**************************************************/
/*     			 MENU VERTICAL                    */
/**************************************************/

#leftMenu {  
	margin:0px 8px 0px 20px;
	width:165px;
	height:500px;

}

#leftMenu h3{
	margin:0px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-weight:bold;
	font-size:11px;

}

#leftMenu ul{
	margin: 0px;
	padding: 0px;
	border-bottom: 6px solid #eeeeee; 
	border-top: 6px solid #eeeeee;
	display:none;
}

#leftMenu li{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;	
	padding-top: 6px;
	padding-bottom: 1px;
	display: list-item;
		

}

#leftMenu li a{
	font: 11px arial, sans-serif;
	color: #000000;
	text-decoration: none;
	display: block;
	padding-left: 11px;
	background: transparent url(../images/fl_ig.gif) no-repeat;
	background-position: 0px 3px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-bottom: 6px;

}

#leftMenu li a:hover{
	color: #ff6600;
}

#leftMenu li a.on{
	font-weight: bold;
	color: #ff6600;
	background: transparent url(../images/lien2.gif) no-repeat;
	background-position: 0px 3px;
}

#helpMenu {
	margin-top:10px;
	background: transparent url(../images/bord1.gif) top left no-repeat;
	padding-left:20px;
	padding-top:5px;	
}

#helpMenu a.linkhelp{
	background:none;
}

/**************************************************/
/*     				 CONTENU	                  */
/**************************************************/

#div_conteneur {
   margin-right: 20px;
   	width:780px;
}

#div_conteneur ul {
	margin-top:20px;
}

#div_conteneur ul li a{
	font-weight: bold;
	color: #000;
	text-decoration:underline;
	padding-left:15px; 
    background: url(../images/carre.gif) no-repeat 3px;
}


/*############ TABLEAU ##############*/

table {
	font-family:arial;
	font-size: 11px; 
	border:1px;
	border-collapse:collapse;
	width:80%;
	margin-left:0px;
}


.bordure{
	border:1px solid #CCC;
}

table.noborder, table.noborder tr, table.noborder td{
	border-width:0px;
	margin-left:0px;
	padding-left:0px;	
}

table.align_center td{
	text-align:center;
}

.nobordertop{
	border-top: 1px solid #FFF;
}
th {
	text-align:center;
	border:1px solid #CCC;
	color: black;
}

tr {
	height:22px;
}

td, #table3 td {
	/*border:0px;*/
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding-left:8px;
	height:22px;
}

td a {
   color:#ff6600;
}

td select {
   text-align: left;
   width:127px;
}

td.td_top{
	vertical-align:top;
	padding-top: 2px;
}


table.tab_2col td,table.tab_2col th {
	width:50%;
	/*border:0px;*/
}
/*
table.tab_2col th {
	text-align:left;
	border:1px solid #CCC;
	padding-left:8px;	
	color: black;
}
*/

table.tab_3col td , table.tab_3col th {
	width:33%;
	/*border:0px;*/
	
}	

table.tab_4col td , table.tab_4col th {
	width:25%;
	/*border:0px;*/
}

table.tab_5col td , table.tab_5col th{
	width:20%;
	text-align: center;
/*border:0px;*/
}


tr.grise_desac {
	background-color:#DDD;
	font-style:italic;

}

tr.grise {
	background-color:#F8ECDF;

}

/** placement boutons apres tableaux... pas formulaires */

#form_button{
	margin-top:10px;
	margin-bottom:20px;
}

a.button_esp img{
	margin:0px 30px 0px 30px;
}

a.button_conf img{
	margin:0px 30px 0px 100px;
	padding-top: 15px;

}

#BLBImage{
	margin-left:50px;
}
/**************************************************/
/*     				 FOOTER                       */
/**************************************************/
#footer {
	margin-left:20px;
	margin-right:20px;
	height: 30px;
	border-top:  2px solid #DEDEDE;
	background: url(../images/esperluette-20.gif) top left no-repeat ;
	margin-bottom:0px;
	width:980px;

}

#footer a{
	color : #000000;
	font: 11px arial, sans-serif;
	}

#footer_left {
 	margin-top:5px;
    float: left; 
	width:250px;
}


#footer_left ul{
	margin:0px 0px 20px 30px;
	padding-left:0px; 

}

#footer_left li{
	display : inline;
    margin-right: 12px;
    padding-left:15px; 
    background: url(../images/carre.gif) no-repeat 3px;
    list-style-type: none;
}


#footer_center {
	left: 45%; 
	text-align:center;
	margin-top:5px;
	position:absolute;
}
	 

/** TF8854 : begin */
#footer_progress_bar {
	visibility:hidden;  	
	float: left;
  	display : inline;
  	margin-top:5px;
	position:absolute;
	right:20px;
}
/** TF8854 : end */

#map h3 {
	margin-top:0px;
	height:18px;
	width:200px;
	display:block;
	border-bottom: 2px solid #CCC;
	line-height:18px;
	font-size:14px;
	color:#444;
	font-weight:bold;
	padding: 0px 0 0 15px;
	background: transparent url(../images/lien4.gif) no-repeat;
	background-position: 0px 3px;
}


#map ul {
	width:200px;
	display:block;
}

#map li{
	list-style-type: none;
	width:200px;
	display:block;
	border-bottom: 1px solid #cccccc;
	text-decoration: none;
	padding:0 6px 0 14px;
	background: transparent url(../images/fl_ig.gif) no-repeat;
	background-position: 0px 3px;


}

#map .summary {
	width:210px; 
	margin:5px 15px 5px 15px; 
	float:left;
}

#map1,#map2{
	float:left;
	width:240px;
	padding:0;
	margin:2px;
}


/**************************************************/
/*     			 AIDE + PLAN SITE          	      */
/**************************************************/


#helpcontent, #map{
	margin:20px;
}


#helpcontent span.print_close,#map span.print_close{
	display:block;
	float:right;
	margin-bottom:5px;
}
#helpcontent h2, #map h2{
	clear:both;
	width:auto;
}

#helpcontent h3,#helpcontent h3 a{
	clear:both;
	font: bold 12px arial;
	color:#FF5500;
	margin-bottom:10px;
}

#helpcontent h3 a:hover{
	text-decoration:none;
}
#helpcontent a{
	font: normal 11px, arial;
	color:#000;
}

#helpcontent a:hover ,#map a:hover{
	text-decoration:underline;
}

#helpcontent a.close, #map a.close{
	margin-left:5px;
	padding-left: 20px;
	background: transparent url(../images/ico_close.gif) no-repeat left center;
}
#helpcontent a.print, #map a.print{
	margin-right:5px;
	padding-left: 27px;
	background: transparent url(../images/ico_print.gif) no-repeat left center;
	
	
}
#helpcontent ul{
	margin:10px 0px 10px 30px;

}

#helpcontent li{
	list-style-image:url(../images/carre.gif);
	line-height:15px;
	margin-bottom:2px;
}

#helpcontent ul ul{
	margin:10px 0px 10px 20px;
}

#helpcontent ul ul li {
	list-style-type:square;
	list-style-image:none;
	line-height:15px;
}

#helpcontent table.protocol_list td{
	vertical-align:top;
}

#helpcontent table.protocol_list li {
	list-style-type:disc;
	list-style-image:none;
	line-height:15px;
}

#helpcontent li a{
	font-weight: bold;
	text-decoration:underline;
}

#helpcontent p{
	margin-top:7px;
	margin-bottom:7px;
	width:100%;
}

#helpcontent p.nb{
	font-style:italic;
}
#helpcontent a.backtop{
	float:right;
	height:30px;
	padding-left: 15px;
	background: transparent url(../images/ico_backtop.gif) no-repeat;
	background-position: 0px 3px;
}

#helpcontent span.titleMessError{
	font-size:11px;
	font-style:italic;
	margin-bottom: 10px;
	display:block;
}

.contact{
	text-align:justify;
	font-weight:bold;
}

/**************************************************/
/*    A voir message rebooting BLB	              */
/**************************************************/

#dialog, #uploadDialog, #inProgress {
border: 1px solid #CCC;
position: absolute;
top: 140px;
left: 220px;
background-color:#ffffff;
display:none;
}

/* TF12215 : begin */
#upgradeDialog{
border: 1px solid black;
position: absolute;
top: 160px;
left: 240px;
background-color:#ffffff;
display:none;
width: 650px;
}
/* TF12215 : end */

#dialogPing {
border: 1px solid #CCC;
position: absolute;
/* régler la position de la pup up ping */
top: 250px;
left: 250px;
background-color:#ffffff;
display:none;
}


#dialogTitleBar {
background-color: #ff6600; color: #FFFFFF;
}

#dialogMain {
	text-align: center;
	margin: 15px;
}

#dialogMain img {
	margin-top: 15px;
}

 /* select style */
 .genericInputSlect{
  background:#F8ECDF;
  font-family:Arial;
  font-size:11px;
  /*font-weight:bold;*/
  border-color:#CCC;
  border-width:1px;
  width:127px;
 }
  
 .genericInputSlectAutoWidth{
  width:auto;
 }
 
 .genericInputSlect:disabled {
  background-color:#eeeeee;
  font-family:Arial;
  font-size:11px;
  /*font-weight:bold;*/
  border-color:#CCC;
  border-width:1px;

 }
 .genericInputCheckbox {
  font-family:Arial;
  font-size:11px;
  font-weight:bold;
 border:none;
 background:none;
 }
.genericInputCheckbox_disabled, .genericInputCheckbox:disabled{
   font-family:Arial;
  font-size:11px;
  font-weight:bold;
 border:none;
 background:none;
 }

 
 /* end select style */
 
 /* table informations style   */
#table3{
	text-align:center;
	width:80%;	
}


.table3_colored_row {
background-color:#E5E5E5;
}

/* end table informations style   */ 

/*   label table information srtle        */
label {
font-family:Arial;
/*font-weight:bold;*/
}
#table3 td {
text-align:center;
border: 0px;
}

.lineColor{
background-color:#F8ECDF;
}

/*   end label table information style        */

/* text style */


 .genericInputTextEncryptionKey_disabled, .genericInputTextEncryptionKey:disabled{
 background:#EEE;
 font-size:11px;
}
.genericInputTextEncryptionKey {

 background:#F8ECDF;
 font-size:11px;
}

.genericInputText{
	background-color:#F8ECDF;
	font-family:Arial;
	font-size:11px;
	border-color:#CCC;
	border-width:1px;
}

.genericInputText_disabled, .genericInputText:disabled{
	 background-color:#EEE;
	 font-family:Arial;
	 font-size:11px;
	 border-color:#CCC;
	 border-width:1px;

}


p.saveConfig{
	font-weight:bold;
	line-height:25px;
	padding-top:10px;
	margin-bottom:5px;
}
p.saveConfig a img{
	vertical-align:middle;
	margin-left:5px;
}
