/*
	CSS For Orange BLB Web site
*/

*{
	margin:0;
	padding:0;
}

body {
	background-color: #ffffff;
	font-family: arial;
	font-size: 11px;
	color: #444444;
}

/*########## Selects ##########*/

a {
	text-decoration: underline;
	color: #444444;
}

a:hover {
	color: #FF5500;
}

a.tooltip{
	cursor:default;
}

img{
	border: 0px;
}

a.orangeLink{
	text-decoration:underline;
	color: #F60;
	font-weight:normal;
}

.orangeIitalic{
	color: #F60;
	font-weight:bold;
	font-style:italic;

}

.biggerText{
	font-size: 12px;
}

p.bullet{
    background: url(../images/bullet.png) no-repeat 10px;
	padding-left:20px;
}

p.bullet2{
    background: url(../images/bullet.png) no-repeat 10px 5px;
	padding-left:20px;
}

p.warning{
    background: url(../images/warning_small.png) no-repeat 0px 5px;
	padding-left:20px;
	line-height:25px;
	margin-bottom:10px;
}

.underline{
	text-decoration:underline;
}

strong{
	font-weight:bold;
}

hr{
	margin-top:5px;
	margin-bottom:20px;
	border: 2px solid #DEDEDE;
}

ul{
	margin:10px 0px 10px 30px;
}

li{
	list-style-image:url(../images/bullet1.png);
	line-height:15px;
}

ul ul{
	margin:10px 0px 10px 20px;
}

ul ul li {
	list-style-image:url(../images/bullet2.png);
	line-height:15px;
}

ul ul ul li {
	list-style-image:url(../images/bullet3.png);
	line-height:15px;
}


/*########## Secondary Navigation ##########*/

#header {
	margin-left:20px;
	margin-right:20px;
	color : #999999;
	font: 11px arial, sans-serif;
	width: 980px;
}

#nav {
	margin:10px 5px 0px 0px;
	height:15px;
}

#nav ul{
	margin:0px;
}

#nav li{
	display : inline;
    margin-right: 12px;
    padding-left:15px;
    background: url(../images/bullet.png) no-repeat 3px;
    list-style-type: none;
}

#nav a {
	font: 11px arial, sans-serif;
	color: #000;
	text-decoration:none;
}

#nav a:hover, #nav li a.off:hover, #nav a:active{
	color: #FF5500;
}

#nav li a.on {
	color: #FF5500;
	font-weight:bold;
}

#nav li a.off {
	color: #000;
	font-weight:normal;
}

#helpMenu {
	float:left;
	width:140px;
	margin-top:15px;
	background: transparent url(../images/border1.gif) top left no-repeat;
	padding-left:20px;
	padding-top:10px;
}

#helpMenu a.linkhelp{
	background:none;
}


/*########## Sub-menu (vertical menu) ##########*/

#submenu {
	margin:0px 8px 0px 20px;
	width:155px;
	/*height:400px;*/
}

#submenu2 {
	margin:0px 8px 0px 20px;
}
#submenu h3{
	margin:0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-weight:bold;
	font-size:11px;
}

#submenu h4 {
	margin-top: 3px;
	padding-left:5px;
	padding-bottom: 4px;
	border-bottom: 1px solid #cccccc;
	font-size:11px;
	font-weight:bold;
}

#submenu ul,#submenu ul ul{
	margin: 0px;
	padding: 0px;
	border-bottom: 4px solid #eeeeee;
	border-top: 4px solid #eeeeee;
}

#submenu li{
	list-style-type: none;
	list-style-image:none;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	padding-top: 4px;
	padding-bottom: 1px;
	display: list-item;
}

#submenu a{
	font: 11px arial, sans-serif;
	color: #000000;
	text-decoration: none;
	display: block;
	padding-left: 11px;
	background: transparent url(../images/link1.png) no-repeat;
	background-position: 0px 3px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-bottom: 4px;
}

#submenu a:hover{
	color: #ff6600;
}

#submenu a.on{
	font-weight: bold;
	color: #ff6600;
	background: transparent url(../images/link2.png) no-repeat;
	background-position: 0px 3px;
}

#submenu a.print{
	font: normal 11px arial, sans-serif;
	text-decoration: none;
	display: block;
	margin-top:10px;
	margin-left:10px;
	background: transparent url(../images/ico_print.png) no-repeat;
	background-position: 0px -3px;
	padding-left: 28px;
}

#submenu ul ul li{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	padding-left:10px;
}

#submenu ul ul li a{
	font: 11px arial, sans-serif;
	color: #000000;
	text-decoration: none;
	margin: 0px 0px 0px 10px;
	padding-bottom: 6px;
	background:none;
}


/*########## Content ##########*/

h1 {
	margin-top:-40px;
	margin-bottom:5px;
	font-family: arial;
	font-size: 1.64em;
	padding-left:35px;
	position:absolute;
	background: transparent url(../images/title_icon_config.png) no-repeat;
}

#content {
   	width: 770px;
	color: #444;
   	border:1px solid #DEDEDE;
	margin-top:10px;
	padding:10px;
	/* Added for OA */
	position:absolute;
	top:60px;
	left:210px;
}



/*########## Table ##########*/

table{
	border:0px solid red;
	border-collapse: collapse;
	width:98%;
	font-size:9pt;
}

table.small{
	width:300px;
	font-size:9pt;
}

table.medium{
	width:600px;
	font-size:9pt;
}

table.big{
	width:780px;
	font-size:9pt;
}

table.center{
	text-align:center;
}

table th{
	background-color:#efefef;
	font-weight:bold;
	white-space:nowrap;
	border: 1px solid #DDDDDD;
}

table td {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

table a {
	background: transparent url(../images/ico_table_link.png) no-repeat left center;
	text-decoration: none;
	padding-left: 8px;
}

table a:hover {
	text-decoration: underline;
	color: #444444;
}

/*########## Forms ##########*/

label {
	display:block;
	float:left;
	clear:left;
	margin:10px 2px 10px 10px;
	padding-right:9px;
}

input, select, textarea {
	float:left;
	margin:10px;
	font-size: 11px;
	color: #444444;
	border: 1px solid #CCCCCC;
	margin-bottom: 7px;
	margin-top: 7px;
	padding: 3px;
}

.choices span {
	float:left;
	clear:left;
	margin:10px;
}

.choices label {
	clear: none;
	margin-left:2px;
}

.choices input {
	margin:10px 11px 6px;
	border-width: 0px;
}

.required {
	background: transparent url(../images/ico_required.png) no-repeat right center;
}

.readonly{
	background-color: #EBEBE4;
}
input.noborder{
	border:0px;
	background-color:#FFF;
	color:#000;
}


/*########## Forms Buttons ##########*/

.buttonapply{
	cursor: pointer;
	width: 70px;
	height: 21px;
	border: none;
	background: url(../images/en/bt_apply.png) no-repeat left top;
}


.buttoncancel{
	cursor: pointer;
	width: 70px;
	height: 21px;
	border: none;
	background: url(../images/en/bt_cancel.png) no-repeat left top;
}

#buttonzone {
	clear:both;
	margin-top:10px;
	text-align: center;
}

#buttonzone input {
	float:none;
}

/*########## Pagination ##########*/

ul.pagination li {
	display: inline;
	list-style-image: none;
	list-style-type: none;
}

ul.pagination li a {
	color: #000000;
	text-decoration: none;
}

ul.pagination li a:hover {
	color: #000000;
	text-decoration: underline;
}

li.pagination-first{
	background: transparent url(../images/ico_first.png) no-repeat left center;
	padding-left: 12px;
	margin-right: 10px;
}
li.pagination-previous{
	background: transparent url(../images/ico_previous.png) no-repeat left center;
	padding-left:12px;
	margin-right: 15px;
}
li.pagination-next{
	background: transparent url(../images/ico_next.png) no-repeat right center;
	padding-right:12px;
	margin-left: 15px;
}
li.pagination-last{
	background: transparent url(../images/ico_last.png) no-repeat right center;
	padding-right:12px;
	margin-left: 10px;
}

ul.pagination li.pagination-page-on a {
	color: #FF5500;
	font-weight: bold;
}

/*########## JQuery Status ##########*/
.status-value, .status-description {
	display:none;
}

/*########## JQuery Gauge ##########*/

.gauge-border {
	border: 1px solid #000000;
	float: left;
	margin: 0 auto;
	padding: 1px;
	height:14px;
	width: 100px;
}

.gauge-bar-red, .gauge-bar-green {
/*.gauge-bar { */
	background: #009933 none repeat scroll 0 0;
	height:14px;
}

.gauge-bar-red {
	background: #D60000;
}

.gauge-value {
	color: #000000;
	float: left;
	font-weight: bold;
	left: 40px;
	position: relative;
}

.gauge-description {
	display:none;
}

/*########## JQuery Confirmation popup ##########*/

.confirm-icon{
	background: transparent url(../images/confirmation.png) no-repeat left;
	margin: 20px 20px 40px 15px;
	height:50px;
	width:50px;
	float:left;
}

.confirm-buttons{
	display:block;
	margin-top:25px;
}

.confirm-buttons img {
	margin-left:15px;
}

.ui-dialog {
	border-color: #B2B2B2 #000000 #000000 #B2B2B2;
	border-width: 2px;
}

.ui-dialog p {
	margin-top: 22px;
}

.ui-dialog-titlebar {
	display:none;
}
