Source: vyatta-webgui
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev,
 libexpat1-dev (>= 1.95.8-4), wget, unzip, libglib2.0-dev
Standards-Version: 3.7.2

Package: vyatta-webgui
Architecture: any
Depends: libexpat1 (>= 1.95.8-4),
 lighttpd,
 libc6,
 adduser,
 vyatta-cfg,
 vyatta-op
Description: Vyatta WebGUI
 This package provides the Vyatta WebGUI.
