Source: vyatta-webgui
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, libtool,
 wget, unzip,
 libexpat1-dev (>= 1.95.8-4),
 libglib2.0-dev,
 libpam0g-dev
Standards-Version: 3.7.2

Package: vyatta-webgui
Architecture: any
Depends: ${shlibs:Depends},
 lighttpd,
 adduser,
 vyatta-cfg (>= 0.15.33),
 vyatta-op
Description: Vyatta WebGUI
 This package provides the Vyatta WebGUI.
