/*
 *  Copyright 2006, Vyatta, Inc.
 *
 *  GNU General Public License
 * 
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License, version 2, 
 *  as published by the Free Software Foundation.
 * 
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 *  02110-1301 USA
 *
 *  Module:           main.css
 *
 *  Original Author:  DHAP Digital, Inc.  Douglas Good & others
 *  Other Author(s):  Marat Nepomnyashy
 *  Date:             2006
 *  Description:      Main CSS file for the AJAX GUI
 *
 */


body
{
	background-color: #FFFFFF;
	background-image: url(../images/container_bg3.gif);
	background-repeat: repeat-y;

	color: #1F1F1F;
	font-family: "Verdana", "Helvetica", "Arial", sans-serif;
	font-size: 11px;
	margin: 0;
}

form { margin: 0px; }

img
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.op_field { margin: 3px; width: 60px;}
.text_field { margin: 3px; width: 140px;}
.text_field_s { margin: 3px; width: 70px;}

.copyright
{
	padding-left: 10px;
	font-size: 9px;
	color: #e1e1e1;
}

.copyright a:link
{
	font-size: 9px;
	color: #e1e1e1;
	text-decoration: underline;
}

.copyright a:hover
{
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: underline;
}

.copyright a:visited
{
	font-size: 9px;
	color: #e1e1e1;
	text-decoration: underline;
}

.copyright a:active
{
	font-size: 9px;
	color: #e1e1e1;
	text-decoration: underline;
}

#whole_layout
{
}

#left_side_container
{
	overflow: hidden;
	width: 235px;
}

#right_side_container
{
	left: 235px;
	min-width: 600px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.float_left { float: left; }
.float_right { float: right; }

#top_nav_div
{
	background-image: url(../images/top_nav_bg.gif);
	background-repeat: repeat-x;
	height: 60px;
}

#content_container
{
	left: 0px;
	position: absolute;
	right: 0px;
	top: 60px;
}

#top_nav_buttons_div
{
	position: relative;
	float: right;
	margin-right: 9px;
	margin-top: 17px;
}


.top_nav_bt {  }


#left_content
{
	bottom: 0px;
	left: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
}
#toWarningArea
{
	display: none;
}
#messageArea
{
	display: none;
}
#configArea
{
	position: relative;
}
#operationResultsArea
{
	position: relative;
	background-color: white;
}

#right_content
{
	display: none;
	position: absolute;
	width: 237px;
}

#status_div
{
	margin-top: 5px;
}

#status_collapsed
{
	margin-top: 5px;
}

#config_out
{
	border-style: solid;
	border-width: 1px;
	font-family: monospace;
	overflow: auto;
	padding: 5px;
	white-space: pre;
	width: 95%;	
}

#op_out
{
	border-style: solid;
	border-width: 1px;
	font-family: monospace;
	overflow: auto;
	padding: 5px;
	white-space: pre;
	width: 95%;	
}
#op_status
{
}

.sub_hdr_div
{
	position: relative;
	width: 463px;
	height: 27px;
	background-color: #BFD2E5;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sub_hdr_div h2
{
	display: inline;
	position: relative;
	top: 8px;
	font-size: 11px;
	font-weight: bold;
	padding-top: 7px;
}

h3
{
	font-size: 11px;
	font-weight: bold;
}

.note
{
	font-size: 10px;
	color: #6F6F6F;
}

.divider
{
	margin-top: 10px;
	margin-bottom: 5px;
	border-color: #7891AB;
	border-width: 1px 0px 0px 0px;
	border-style: dashed;
}

.error { color: #4B392E; }

.errorLabel
{
	color: #FA8D00;
	font-weight: bold;
}

.warningLabel
{
	color: orange;
	font-weight: bold;
}

#requestDebug
{
	width: 250px;
	position: relative;
	height: 250px;
	overflow: scroll;
	background-color: white;
}

#responseDebug
{
	width: 250px;
	position: relative;
	height: 250px;
	overflow: scroll;
	background-color: white;
}

.right_context_box
{
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-top: -2px;
	border-color: #939393;
}

/* navigation styles */
#contextArea a:link {
	text-decoration: none;
	color: #252525;
}
#contextArea a:visited {
	text-decoration: none;
	color: #252525;
}
#contextArea a:hover {
	text-decoration: none;
	color: #5E5E5E;
}
#contextArea a:active {
	text-decoration: none;
	color: #FFB400;
}

#operationMenuArea a:link {
	text-decoration: none;
	color: #252525;
}
#operationMenuArea a:visited {
	text-decoration: none;
	color: #252525;
}
#operationMenuArea a:hover {
	text-decoration: none;
	color: #5E5E5E;
}
#operationMenuArea a:active {
	text-decoration: none;
	color: #FFB400;
}

#toolMenuArea a:link {
	text-decoration: none;
	color: #252525;
}
#toolMenuArea a:visited {
	text-decoration: none;
	color: #252525;
}
#toolMenuArea a:hover {
	text-decoration: none;
	color: #5E5E5E;
}
#toolMenuArea a:active {
	text-decoration: none;
	color: #FFB400;
}

#supportArea a:link {
	text-decoration: none;
	color: #252525;
}
#supportArea a:visited {
	text-decoration: none;
	color: #252525;
}
#supportArea a:hover {
	text-decoration: none;
	color: #5E5E5E;
}
#supportArea a:active {
	text-decoration: none;
	color: #FFB400;
}

.tools_detail
{
	border-bottom: #BFD2E5;
	border-width: 0px 0px 1px 0px;
	border-style: none none dashed none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 15px;
	text-align: left;
}


.tools_detail A:link {
	text-decoration: none;
}
.tools_detail A:visited {
	text-decoration: none;
}

/* General
----------------------------------------------- */

ul
{
	display: block;
	position: relative;
	clear: both;
}

li
{
	display: block;
	position: relative;
	clear: both;
}

/* Links
----------------------------------------------- */

/* :link :visited :hover :active (LVHA)
----------------------------------------------- */

/* Base link styles
----------------------------------------------- */

a:link
{
	text-decoration: underline;
	color: #1F1F1F;
}

a:visited
{
	text-decoration: underline;
	color: #151515;
}

a:hover
{
	text-decoration: none;
	color: #5E5E5E;
}

a:active
{
	text-decoration: none;
	color: #f99d1b;
}

/* Popup styles
----------------------------------------------- */

#popupBody
{
	background-image: none;
	background-color: #ffffff;
}

#popupHeader
{
	background-image: url(../images/popup_header_bg.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 40px;
}

#popupHeaderTitle
{
	color: #ffffff;
	position: absolute;
	left: 190px;
	top: 14px;
	z-index: 200;
}

#popupContent
{
	position: relative;
	margin: 10px;
	width: 548px;
}

#list_networks_display
{
	border: 1px solid #4B749F;
	margin: 3px;
	padding: 3px;
	width: 80%;
	text-align: center;
	height: 200px;
	overflow: auto;
}

#list_networks_display h1 { font-size: 13px; }

#nti {
	background-image: url(../images/nav_sub1_bg_no_child.gif);
	background-repeat: no-repeat;
	height: 22px;
	margin-bottom: -4px;
	overflow: hidden;
	padding-top: 4px;
	padding-left: 15px;
	position: relative;
	width: 218px;
}

#ntis {
	background-image: url(../images/nav_sub1_bg_no_child_selected.gif);
	background-repeat: no-repeat;
	height: 22px;
	margin-bottom: -4px;
	overflow: hidden;
	padding-top: 4px;
	padding-left: 15px;
	position: relative;
	width: 218px;
}

.error { color: red; }
.warning { color: orange; }
